[submodule "vim_plugins/vim-wombat256mod"]
	path = vim_plugins/vim-wombat256mod
	url = https://github.com/michalbachowski/vim-wombat256mod
[submodule "vim_plugins/Vundle.vim"]
	path = vim_plugins/Vundle.vim
	url = git@github.com:VundleVim/Vundle.vim.git
[submodule "vim_plugins/vim-gitgutter"]
	path = vim_plugins/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "vim_plugins/molokai"]
	path = vim_plugins/molokai
	url = https://github.com/tomasr/molokai.git
